<div class="note-show-container animate__animated animate__bounceInLeft">
  <h1><%= "Welcome #{current_user.name}" %></h1>
  <div>
    <div class="home-buttons">
      <%= link_to notes_path, method: :get, class: 'nav-link home-nav-link' do %>
      <i class="bi bi-journal-text" title="All Notes"></i>
      <p>All Notes</p>
      <% end %>
      <%= link_to new_note_path, method: :get, class: 'nav-link home-nav-link' do %>
      <i class="bi bi-pen" title="New Note"></i>
      <p>New Note</p>
      <% end %>
    </div>
  </div>
  <div class="note-show-box">
    <h3>Recent Notes</h3>
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Instructor</th>
        <th>Description</th>
      </tr>
      <% @recent_notes.each do |note| %>
      <tr>
        <td><%= note.date.to_formatted_s(:long) %></td>
        <td><%= note.title %></td>
        <td><%= note.instructor %></td>
        <td><%= truncate(note.description, :length => 50, :separator => '') %></td>
        <td><%= link_to edit_note_url(note), method: :get do %>
        <i class="bi bi-eye" title="All Notes"></i>
        <% end %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>