<div class="note-show-container">
  <div class="note-show-box">
    <h3 class="table-title"><%= link_to 'Recent Notes', notes_path, method: :get %></h3>
    <table class="table">
      <tr>
        <th><%= link_to "Date", :sort => "date DESC" %><i class="bi bi-arrow-down-up sort-arrows"></i></th>
        <th><%= link_to "Title", :sort => "LOWER(title)" %><i class="bi bi-arrow-down-up sort-arrows"></i></th>
        <th><%= link_to "Instructor", :sort => "LOWER(instructor)" %><i class="bi bi-arrow-down-up sort-arrows"></i>
        </th>
        <th>Description</th>
      </tr>
          <% @user_notes.each do |note| %>
          <tr class="row-index-hover">
            <td><%= link_to "#{note.date.strftime("#{note.date.day.ordinalize} %B %Y")}", note_path(note) %></td>
            <td><%= link_to "#{note.title}", note_path(note) %></td>
            <td><%= link_to "#{note.instructor}", note_path(note) %></td>
            <td><%= link_to  "#{truncate(note.description, :length => 60, :separator => '')}", note_path(note) %></td>
  </div>
  </tr>
  <% end %>
  </table>
</div>
</div>