<div class="note-show-container animate__animated animate__bounceInLeft">
<div class="note-show-box">
<h3>Recent Notes</h3>
<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Instructor</th>
    <th>Description</th>
  </tr>
  <% @recent_notes.each do |note| %>
  <tr>
    <td><%= note.date.to_formatted_s(:long) %></td>
    <td><%= note.title %></td>
    <td><%= note.instructor %></td>
    <td><%= note.description %></td>
    <td><%= link_to 'Show', note_path(note), class: "btn btn-sm btn-outline-dark" %></td>
    <td><%= link_to 'Edit', edit_note_path(note), class: "btn btn-sm btn-outline-dark" %></td>
  </tr>
  <% end %>
</table>
</div>
</div>