<div class="note-show-container">
      <h3 class="table-title">App Guide</h3>
  <div class="note-show-box">
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Instructor</th>
          <th>Description</th>
        </tr>
        <% @guide_notes.each do |guide| %>
        <tr>
          <td><%= current_user.created_at.strftime("#{current_user.created_at.day.ordinalize} %B %Y") %></td>
          <td><%= guide.title %></td>
          <td><%= guide.instructor %></td>
          <td><%=  truncate(guide.description, :length => 50, :separator => '') %></td>
          <div class="note-index-buttons">
            <td><%= link_to guide, method: :get do %>
              <i class="bi bi-eye" title="All Notes"></i>
              <% end %></td>
          </div>
  </div>
  </tr>
  <% end %>
  </table>
</div>
</div>