<div class="sign-in-box">

<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

<div class="field form-input">
  <% f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control form-control-lg" %>
</div>

<div class="field form-input">
  <% f.label :password %><br />
  <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control form-control-lg" %>
</div>

<% if devise_mapping.rememberable? %>
<div class="form-check form-switch">
  <label class="form-check-label" for="customSwitch1">
    <%= f.check_box :remember_me, class: "form-check-input", id: "customSwitch1", checked: "checked" %>
    Remember me
  </label>
</div>
<% end %>

<%= f.submit "Log in", class: "w-25 btn btn-primary btn-lg" %>

<% end %>
<p class="mt-5 mb-3 text-muted">© 2021</p>

</div>